 /* Import bootstrap.less which loads all bootstrap-less-modules */
@import "less/bootstrap.less";

@red: #F44336;
@lightred: #D84336;
@grey: #727272;
@lightgrey: #e9e9e9;
@darkgrey: #222;

body {
	padding-top:0px;
	color:@darkgrey;
	font-family:'Open Sans',sans-serif;
	font-weight:400;
	font-size:16px;
}

/* remove blue outline on focus on buttons */
button:focus {
	outline:none !important;
}


/* gamefields naast elkaar */
.gamefield, .turner-container {
    float: left;
    height: 570px;
    padding: 20px;
}

.gamefield {
	width: 40%;
	background: #e6e6e6;
	opacity: 0.5;

	&.turn {
		border: 2px solid @red;
		border-bottom: none;
		opacity: 1;
	}

	h2 {
		text-align: center;
		padding-bottom: 20px;
		border-bottom: 2px solid @red;
		margin-top: 0;
	}

	.tactics-row {
		font-size: 26px;
		margin-bottom: 5px;

		.row-item {
			width: 25%;
			text-align: center;
			display: inline-block;
		}

		.row-item.hit-1[data-item="1"] {
			text-decoration: line-through;
		}

		.row-item.hit-2[data-item="1"], .row-item.hit-2[data-item="2"] {
			text-decoration: line-through;
		}

		.row-item.hit-3[data-item="1"], .row-item.hit-3[data-item="2"], .row-item.hit-3[data-item="3"] {
			text-decoration: line-through;
		}

		&.row-completed {
			background: #dff0d8
		}

		.points-container {
			font-size: 16px;
			button {
				padding: 4px;
				position: relative;
				top: -3px;
			}
			.points-amount {
				background: @lightgrey;
				padding: 3px 9px 3px 7px;
				border: 1px solid @grey;
				position: relative;
				top: -3px;
			}
		}

	}
}

.turner-container {
	width: 20%;
	text-align: center;

	.turner {
		background-color: @red;
		border-radius: 50%;
		width: 64px;
		height: 64px;
		border: 2px solid @darkgrey;
		margin-left: auto;
		margin-right: auto;

		&:hover {
			cursor: pointer;
			background-color: @lightred;
		}

		img {
			position: relative;
			top: 10px;
		}
	}
}

/* standings eronder */
.standings {
	clear: left;
	background-color: @grey;
	color: white;
	padding: 40px;
	text-align: center;
	border: 3px solid @red;
}
